* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    display: grid;
    font-size: 3rem;
    height: auto;
}

header, main, footer {
    min-width: 100px;
    background-color: rgb(8, 8, 60);
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    top: 0;
}

header {
    position: sticky;
    top: 0;
}
footer{
    position: sticky;
    bottom: 0;
}

nav, a{
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    gap:50px;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: radial-gradient(whitesmoke, rgba(128, 128, 128, 0.524));
    justify-content: space-evenly;
    align-items: center;
    gap: 8rem;
    padding: 10rem;
    flex-grow: 1;
    flex-shrink: 1;
}

main figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:10em;
    width: 7em;
    background-color: rgb(39, 99, 147);
    border: 2px solid black;
    border-radius: 30px;
    font-size: 1em; 
    row-gap: 1rem;
}

img {
    height:5em;
    width: 5em;
    background-color: hsla(0, 0%, 96%, 0.46);
    border-radius: 20rem;
    border: 2px double black;
    border-width: 1rem;
}

figure p{
    font-size: 2rem;
}


@media screen and (min-aspect-ratio: 7/4) {
    body{
        font-size: 3em;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        height:100vh;
    }
    nav {
        display: none;
    }
    main figure{
        font-size: 1em;
        width: 8em;
        height: 10em;
    }
    figurecaption{
        font-size: 20px;
    }
    figure p{
        font-size: 10px;
    }
    figure img {
        height: 7em;
        width: 7em;
        border-radius: 3.5em;
    }
}

@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 7/4){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        padding-left: 13%;
        height:auto;
        /* padding-left: 300px; */
    }
    nav {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    html{
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        height: auto;
        background-image: radial-gradient(whitesmoke, rgba(128, 128, 128, 0.524));
        justify-content: space-evenly;
        align-items: center;
        gap: 8rem;
        padding: 10rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
    nav{
        display: flex;
    }
    main figure{
        font-size: 5rem;
        width: 50rem;
        height: 55rem;
    }
    figure img {
        height: 7em;
        width: 7em;
        border-radius: 3.5em;
    }
    figurecaption {
        font-size: 5rem;
    }
    figure p{
        font-size: 4rem;
    }
}