* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    display: grid;
    font-size: 50px;
}

header, main, footer {
    min-width: 100px;
    background-color: rgb(8, 8, 60);
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    top: 0;
}

header {
    position: sticky;
    top: 0;
}
footer{
    position: sticky;
    bottom: 0;
}

nav, a{
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    gap:50px;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: radial-gradient(whitesmoke, rgba(128, 128, 128, 0.524));
    justify-content: space-evenly;
    align-items: center;
    gap: 8rem;
    padding: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

main figure{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:60rem;
    width: 46rem;
    background-color: rgb(39, 99, 147);
    border: 2px solid black;
    border-radius: 30px;
    
}

img {
    height:40rem;
    width: 40rem;
    background-color: hsla(0, 0%, 96%, 0.46);
    border-radius: 20rem;
    border: 2px double black;
    border-width: 5px
}

img p{
    font-size: 10px;
}

@media screen and (min-aspect-ratio: 7/4) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        padding-left: 8%;
    }
    nav {
        display: none;
    }
}

@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 7/4){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        padding-left: 13%;
        /* padding-left: 300px; */
    }
    nav {
        display: none;
    }
}